---
layout: default
---
<div class="col-9 side-wrapper">
  <div class="row">
    <h1 class="col-12 heading-1">work experience</h1>
  </div>
  <ul class="experience">
    <li class="row experience-element">
      <div class="col-5">
        <p class="experience-date">Nov 2018 – Today</p>
      </div>
      <div class="col-7">
        <p class="experience-company">@abb</p>
        <p class="experience-role">UX/UI Designer</p>
        <p class="experience-description">ABB has traditionally been using tons of third-party
           plugins to let employees react to posted content on
            several applications. Every application used different
             solution making “global” process of commenting very
             incoherent.</p>
      </div>
    </li>

    <li class="row experience-element">
      <div class="col-5">
        <p class="experience-date">Jul 2017 – Oct 2018</p>
      </div>
      <div class="col-7">
        <p class="experience-company">@abb</p>
        <p class="experience-role">Junior UX/UI Designer</p>
        <p class="experience-description">.</p>
      </div>
    </li>

    <li class="row experience-element">
      <div class="col-5">
        <p class="experience-date">Jun 2015 – Sept 2015</p>
      </div>
      <div class="col-7">
        <p class="experience-company">@motive advertising agency</p>
        <p class="experience-role">Graphic Designer Intern</p>
        <p class="experience-description">Creating graphic designs of POS materials (banners, posters,
        leaflets, price lists, etc.). Designing materials for the
         Internet (banners, website elements) and the mobile application interface..</p>
      </div>
    </li>

  </ul>

  <div class="row">
    <h1 class="col-12 heading-1">education</h1>
  </div>
  <ul class="experience">
    <li class="row experience-element">
      <div class="col-5">
        <p class="experience-date">2014 – 2019</p>
      </div>
      <div class="col-7">
        <p class="experience-company">Jagiellonian University</p>
        <p class="experience-role">electronical information processing</p>
        <p class="experience-description">
          Master's thesis: Experimental analysis of understanding of icons in the Material Design system.</p>
      </div>
    </li>

  </ul>

  {{ content }}
</div>
